*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 14px;
    min-height: 100vh;
}

h1{
    text-align: center;
}

form, section{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

form textarea{
    resize: none;
    width: 100%;
    min-height: 60px;
    padding: 14px;
}

form button{
    padding: 4px;
    cursor: pointer;
}

.todo-container{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.todo{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 14px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.btn-container{
    display: flex;
    gap: 6px;
}

.icon-btn{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 8px;
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.icon-btn:hover{
    background-color: rgb(242, 240, 240);
}



